.travel {
  margin-bottom: 10px;
}

#title {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -50px;
  font-size: 105px;
  font-family: mistral regular;
}

.content {
  border-radius: 10px;
  height: 100%;
  padding-top: 10px;
  position: relative;
  min-height: 150px;
  border: 3px solid #e6a922;
}

.content .title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin-bottom: 75px;
  margin-left: -15px;
}

.content .date {
  bottom: 0;
  left: 0;
  position: absolute;
  color: white;
}

.content:hover {
  border-color: white;
}

.add-travel .content:active,
.add-travel .content:focus {
  border-color: white;
  background-color: white;
}

.add-travel .content:active p,
.add-travel .content:focus p,
.add-travel .content:active i,
.content:focus i,
.content a:active,
.content a:focus {
  color: #e6a922;
  border-color: #e6a922;
  text-decoration: none;
}

.content a:hover {
  text-decoration: none;
}

.add-travel {
  min-height: 65px;
  cursor: pointer;
}

.add-travel .text {
  color: white;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 90%;
}

.add-travel i {
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 40px;
  padding: 7px 0px;
  font-size: 23px;
}

button.remove-travel {
  bottom: 18px;
  position: absolute;
  color: white;
  right: 15px;
  background: transparent;
  width: 40px;
  padding: 5px;
}
button.remove-travel:active {
  color: white !important;
  background-color: #e6a922 !important;
  border-color: #e6a922 !important;
  box-shadow: none !important;
}
button.remove-travel:hover {
  border-color: #e6a922;
}

.filter-travel {
  margin-bottom: 20px;
  margin-left: 0px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .add-travel .text {
    font-size: 23px;
  }
}
