<div class="container travels">
  <h1 id="title">Wycieczki</h1>
  <div class="row input-group filter-travel">
    <input type="text" class="form-control" placeholder="Wyszukaj wycieczkę..." [(ngModel)]="travelSearch">
  </div>
  <div class="row">
    <div class="add-travel col-xs-6 col-sm-6 col-md-4 col-lg-4 travel">
      <div class="content col-12" [routerLink]="['./travel-create']">
        <p class="text">Dodaj wycieczkę
          <i class="fas fa-plus btn"></i>
        </p>
      </div>
    </div>
    <div *ngFor="let travel of travels | sort: 'dateFrom' : true | filter:travelSearch " class="col-xs-6 col-sm-6 col-md-4 col-lg-4 travel">
      <div class="content col-12">
        <a [routerLink]="['./travel', travel.mongoID]" class="title col-12">{{travel.title}}</a>
        <p class="date col-9">{{travel.dateFrom | date: 'dd.MM.yyyy' }} - {{travel.dateTo | date: 'dd.MM.yyyy'}}</p>
        <button class="btn btn-light remove-travel col-3" (click)="removeTravel(travel)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
