<div class="container travels">
  <h1 id="title">Galeria</h1>
  <div class="row input-group filter-travel">
    <input type="text" class="form-control" placeholder="Wyszukaj wycieczkę..." [(ngModel)]="travelSearch">
  </div>
  <div class="row">
    <div *ngFor="let travel of travels | sort: 'dateFrom' : true | filter:travelSearch " class="col-xs-6 col-sm-6 col-md-4 col-lg-4 travel"
      [routerLink]="['../gallery', travel.mongoID]">
      <div class="content col-12">
        <a class="title col-12">{{travel.title}}</a>
        <p class="number-of-images col-12">{{getNumberOfImages(travel)}}</p>
      </div>
    </div>
  </div>
</div>
