.travel {
  margin-bottom: 10px;
  cursor: pointer;
}

#title {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -50px;
  font-size: 105px;
  font-family: mistral regular;
}

.number-of-images {
  text-align: right;
  color: white;
  position: absolute;
  bottom: -8px;
  right: 5px;
}

.content {
  border-radius: 10px;
  height: 100%;
  padding-top: 10px;
  position: relative;
  min-height: 100px;
  border: 3px solid #e6a922;
}

.content .title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin-left: -15px;
}

.content:hover {
  border-color: white;
}

.content:focus i,
.content a:active,
.content a:focus {
  color: #e6a922;
  border-color: #e6a922;
  text-decoration: none;
}

.content a:hover {
  text-decoration: none;
}

.filter-travel {
  margin-bottom: 20px;
  margin-left: 0px;
}
