.menu-container {
  background: none;
  z-index: -1;
}
.menu-button {
  margin-bottom: 125px;
}
.navbar-brand {
  color: #e6a922 !important;
  font-size: 40px;
  margin-left: 8%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.navbar-brand span {
  color: black;
  font-size: 22px;
  display: flex;
  position: absolute;
  margin-top: -15px;
  margin-left: 7px;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link a:focus,
.exit-button:focus {
  outline: none;
  box-shadow: none;
}
.exit-button:active,
.exit-button:hover,
.exit-button:not(:disabled):not(.disabled).active,
.exit-button.dropdown-toggle {
  background-color: white !important;
  color: rgba(39, 39, 39, 0.5) !important;
}

button#logout {
  border-color: #e6a922;
  color: #e6a922;
  margin-top: 20px;
}

button#logout:hover,
button#logout:focus,
button#logout:active {
  border-color: #e6a922;
  background-color: #e6a922;
  color: white;
}

.navbar-nav .nav-link.active span {
  border-bottom: 2px solid #e6a922;
}

.navbar-toggler {
  border: none;
  position: absolute;
  top: 25px;
  right: 5%;
}

.menu-items {
  width: 250px;
  padding-right: 50px;
  padding-top: 3%;
  background: rgba(39, 39, 39, 0.5);
  text-align: right;
  font-size: 19px;
  z-index: 1000;
}

.nav-item.dropdown-menu.show {
  background: transparent;
  border: none;
  text-align: right;
  font-size: 17px;
}

.navbar .navbar-toggler i {
  font-size: 30px;
  color: white;
}

.navbar-toggler i {
  font-size: 30px;
  color: white;
}

.exit-button {
  border: white 1px solid;
  color: white;
  background: transparent;
  border-radius: 10px;
  padding: 3px 12px;
}

:host ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

p#user-data {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
