<mat-sidenav-container class="menu-container" (backdropClick)="close()" fullscreen>
  <mat-sidenav position="end" class="menu-items" #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button (click)="close()" class="exit-button btn btn-light" type="button">
        <i class="fas fa-times"></i>
      </button>
    </p>
    <p id="user-data">{{user.firstName || ''}} {{user.lastName || ''}}</p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" [routerLink]="['/travels']" [routerLinkActive]="['active']" ngbDropdownToggle>
          <span>Twoje podróże</span>
        </a>
        <div class="nav-item" ngbDropdownMenu>
          <a class="nav-link" [routerLink]="['/travels/travel-create']" [routerLinkActive]="['active']">Dodanie
            wycieczki</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accommodation']" [routerLinkActive]="['active']">
          <span>Noclegi</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/expenses']" [routerLinkActive]="['active']">
          <span>Wydatki</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gallery']" [routerLinkActive]="['active']">
          <span>Galeria</span>
        </a>
      </li>
    </ul>

    <button class="btn btn-outline-warning" id="logout" (click)="logout()">
      <span>Wyloguj się</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content class="menu-button">
    <a class="navbar-brand" [routerLink]="['/home']" *ngIf="!isLoginPage()">
      <img src="../../../assets/images/logo.svg" width="200px" alt="travel organization">
    </a>
    <button *ngIf="!sidenav.opened && !isLoginPage()" class="navbar-toggler" type="button" (click)="sidenav.open()">
      <i class="fas fa-bars"></i>
    </button>
    <app-alerts></app-alerts>
    <router-outlet (userChanged)="userChangedHandler($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
