<div class="modal-header">
  <h4 class="modal-title">Usuń</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Jesteś pewien, że chcesz usunąć wycieczkę o nazwie:</p>
  <p class="travel-name">{{name}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-warning" (click)="activeModal.close('remove')">Usuń</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
</div>
