<div class="card col-12 card-attraction" [formGroup]="formModel">
  <div class="card-body row">
    <h5 class="card-title col-12">Atrakcje</h5>
    <div formArrayName="attractions" class="col-12 row" [ngClass]=" {'row-border-top': isModalWindow}" *ngFor="let thing of formModel.controls['attractions'].controls; let i = index;">
      <div [formGroupName]="i" class="col-12 row">
        <div class="col-11 row">
          <div class="form-group" [ngClass]="{'col-3': !isModalWindow, 'col-6': isModalWindow}">
            <label for="formAttractionName">Nazwa</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['attractions'].controls[i].hasError('required', 'name')}"
              id="formAttractionName" formControlName="name">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['attractions'].controls[i].hasError('required', 'name')">
              Nazwa atrakcji jest wymagana.
            </div>
          </div>
          <div class="form-group" [ngClass]="{'col-3': !isModalWindow, 'col-6': isModalWindow}">
            <label for="formAttractionPlace">Adres</label>
            <input type="text" class="form-control" formControlName="address">
          </div>
          <div class="form-group" [ngClass]="{'col-3': !isModalWindow, 'col-6': isModalWindow}">
            <label for="formAttractionPrice">Cena</label>
            <div class="input-group">
              <input type="number" step="0.01" min="0.00" class="form-control price" placeholder="0,00" id="formAttractionPrice"
                formControlName="price">
              <div class="input-group-append">
                <span class="input-group-text">zł</span>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'col-3': !isModalWindow, 'col-6': isModalWindow}">
            <label for="formAttractionDate">Data</label>
            <p-calendar id="formAttractionDate" inputStyleClass="form-control" dateFormat="dd.mm.yy" [locale]="calendarModel"
              placeholder="dd.mm.rrrr" showButtonBar="true" formControlName="date"></p-calendar>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group">
            <button type="button" class="btn remove-button" [ngClass]="{'remove-button-modal': isModalWindow}" (click)="removeElement(i)">
              <i class="fa fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn add-element" (click)="addAttraction()">Dodaj atrakcję</button>
  </div>
</div>
