<div class="card col-12 card-accommodation" [formGroup]="formModel">
  <div class="card-body container">
    <h5 class="card-title">Noclegi</h5>
    <div formArrayName="accommodations">
      <div class="row accommodation-row" *ngFor="let accommodation of formModel.controls['accommodations'].controls; let i = index;"
        [formGroupName]="i">
        <p class="break"></p>
        <div class="col-10">
          <div class="row">
            <div class="form-group col-6" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['accommodations'].controls[i].hasError('required', 'placeName')}">
              <label>Nazwa</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['accommodations'].controls[i].hasError('required', 'placeName')}"
                formControlName="placeName" placeholder="Podaj miejsce...">
              <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['accommodations'].controls[i].hasError('required', 'placeName')">
                Nazwa miejsca noclegu jest wymagana.
              </div>
            </div>
            <div class="form-group col-6">
              <label>Adres</label>
              <input type="text" class="form-control" formControlName="placeAddress" placeholder="Podaj adres..">
            </div>
            <div class="form-group col-6">
              <label>Cena za noc [zł]</label>
              <input type="number" step="0.01" min="0.00" class="form-control" id="formTransportPrice" formControlName="price"
                placeholder="0,00">
            </div>
            <div class="form-group col-6" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['accommodations'].controls[i].hasError('required', 'date')}">
              <label>Data od-do</label>
              <p-calendar id="formAccommodationdivate" selectionMode="range" inputStyleClass="form-control" dateFormat="dd.mm.yy"
                showButtonBar="true" [numberOfMonths]="2" [locale]="calendarModel" placeholder="dd.mm.rrrr - dd.mm.rrrr"
                formControlName="date"></p-calendar>
              <div class="invalid-text-date" *ngIf="clickedSubmitForm && formModel.controls['accommodations'].controls[i].hasError('required', 'date')">
                Data noclegu jest wymagana.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-1 button-row">
          <button type="button" class="btn remove-button" (click)="removeElement(i)">
            <i class="fa fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn add-element" (click)="addAccommodation()">Dodaj nocleg</button>
  </div>
</div>
