.card-title {
  font-family: mistral regular;
}

.card-accommodation {
  margin-top: 5%;
}

.card-accommodation .remove-button {
  margin-left: 60px;
}

:host ::ng-deep .ui-inputtext {
  width: 132% !important;
  background: transparent !important;
  color: white;
  border-radius: 14px;
}

:host ::ng-deep .ui-inputtext::placeholder {
  color: white;
}

.input-group-append.is-invalid span,
.is-invalid .ui-inputtext,
.custom-select.is-invalid,
.form-control.is-invalid,
td.is-invalid,
.input-group-append.is-invalid span,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
:host ::ng-deep .custom-select.is-invalid,
:host ::ng-deep .form-control.is-invalid,
:host ::ng-deep td.is-invalid,
:host ::ng-deep .input-group-append.is-invalid span,
:host ::ng-deep .was-validated .custom-select:invalid,
:host ::ng-deep .was-validated .form-control:invalid,
:host ::ng-deep .is-invalid .ui-inputtext {
  border-color: #ff0018;
}

:host ::ng-deep .invalid-feedback,
.invalid-feedback,
:host ::ng-deep .invalid-text-date,
.invalid-text-date {
  color: #ff0018;
  margin-top: 0.25rem;
  font-size: 80%;
}

.card {
  margin-bottom: 20px;
  border: none;
  background: rgba(39, 39, 39, 0.5);
  border-radius: 14px;
}

.card-title {
  margin-bottom: 1.75rem;
  padding-bottom: 10px;
  color: white;
  font-size: 50px;
}

.add-element,
.remove-button {
  color: white;
  background: #e6a923;
}

label {
  font-weight: bold;
  display: block;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 14px;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.price {
  border-right: none;
}

.input-group-append span {
  background: transparent;
  border-left: none;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  color: white;
}

.accommodation-row:not(:nth-child(1)) .break {
  border-bottom: 1px solid #d0caca;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button-row {
  position: relative;
}

.remove-button {
  position: absolute;
  right: 3%;
  top: 45%;
}
