<div class="container">
  <h1 class="title">Podsumowanie kosztów wycieczek</h1>
  <div class="chart">
    <div class="navigation" *ngIf="years.length > 0">
      <button class="btn previous" (click)="previousYear()" *ngIf="!isFirstYear()"><i class="fas fa-arrow-left"></i></button>
      <p>{{getSelectedYear()}}</p>
      <button class="btn next" (click)="nextYear()" *ngIf="!isLastYear()"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="select-data form-group">
      <select class="form-control" [ngModel]="selectedData" (ngModelChange)="onChangeSelect($event)">
        <option value="totalPrice">Ogólne dane</option>
        <option value="accommodationPrice">Koszt noclegów</option>
        <option value="transportPrice">Koszt transportu</option>
        <option value="foodPrice">Koszt jedzenia</option>
        <option value="attractionPrice">Koszt atrakcji</option>
      </select>
    </div>
    <div class="chart">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" [colors]="barBackgroudColor" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
