p {
  color: white;
}

p span {
  font-weight: bold;
}

div.chart {
  background: white;
  border-radius: 15px;
}

.title {
  font-family: mistral regular;
  color: white;
  font-size: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.navigation {
  position: relative;
  padding-top: 10px;
}

.navigation button,
.navidation p {
  display: inline-block;
}

.navigation button {
  color: black;
  background: none;
  border: none;
}

.navigation p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.navigation button.previous {
  position: absolute;
  left: 25px;
  top: 5px;
}

.navigation button.next {
  position: absolute;
  right: 25px;
  top: 5px;
}

div.select-data {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
}

div.chart {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
