:host ::ng-deep app-transport-form .card {
  border: none;
  background: none;
  z-index: 1000;
}

:host ::ng-deep .ui-inputtext {
  background: transparent !important;
  border-radius: 14px !important;
}
:host ::ng-deep app-transport-form .card-title {
  margin-top: 0px;
  position: absolute;
  top: -100px;
  left: 120px;
}

:host ::ng-deep app-transport-form .add-element {
  margin-left: 16px;
}

:host ::ng-deep app-transport-form .form-control,
:host ::ng-deep app-transport-form .card-title,
:host ::ng-deep app-transport-form label {
  color: black;
}

:host ::ng-deep app-transport-form .form-control::placeholder {
  color: gray;
}

.modal-title {
  font-family: mistral regular;
  font-size: 50px;
}

.save-button {
  border-color: #e6a923;
  color: #e6a923;
  margin-right: 5px;
}

.save-button:focus,
.save-button:active,
.save-button:hover {
  border-color: #e6a923;
  background-color: #e6a923;
  color: white;
}

.buttons {
  float: right;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.travel-card-image {
  opacity: 0.1;
  position: absolute;
  height: 350px;
  bottom: -118px;
  right: -50px;
  z-index: 0;
}

form {
  position: relative;
}
