.search {
  margin-top: 15%;
}

.search input,
.search button {
  background: rgba(255, 255, 255, 0.65);
  border-color: transparent;
}

.search button {
  margin-left: 1px;
}

.search .title{
  font-family: mistral regular;
  color:white;
  font-size: 110px;
  text-align: center;
}

.info {
  background: rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 20%;
}

.info img {
  margin-top: -30%;
  width: 75%;
}
.info img#map {
  margin-top: -42%;
  width: 65%;
}
img#arrow{
  width: 60%;
}

.info p {
  padding-top: 10px;
  font-size: 22px;
}

.search input::placeholder {
  color: gray;
  font-size: 20px;
}
.search .feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 110%;
    color: #9f0f1c;
    margin-left: 13px;
    position: relative;
    margin-bottom: -30px;
}

@media (max-height: 815px) {
  .search{
    margin-top: 5%;
  }
}

@media (max-width: 991px) {
  .search .title{
    font-size: 65px;
  }
  .info p {
    font-size: 16px;
  }
  img#arrow{
    width: 75%;
  }
}

@media (max-width: 800px) {
  .info p {
    font-size: 18px;
  }
  img#arrow{
    width: 75%;
  }
}

@media (max-width: 767px) {
  .info p {
    font-size: 14px;
  }
  img#arrow {
    width: 128%;
    margin-left: -20px !important;
  }
}

@media (max-width: 450px) {
  img#arrow {
    width: 175%;
    margin-left: -40px !important;
  }
}

@media (max-width: 400px) {
  .info p {
    font-size: 12px;
  }
  img#arrow {
    width: 185%;
    position: relative;
    margin-left: -40% !important;
  }
}
