<div class="container">
  <div class="row search">
    <div class="col-md-12">
      <h1 class="title">Zaplanuj swoją podróż</h1>
    </div>
    <div class="col-md-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : isEmptyPlace()}" (keyup.enter)="navigateToCreateTravel()" placeholder="Dokąd chcesz pojechać?" [(ngModel)]="travelPlace">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="navigateToCreateTravel()"><i class="fas fa-search fa-1x"></i></button>
          </div>
          <div class="feedback" [hidden]="!isEmptyPlace()">Pole nie może być puste.</div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="info col-4 col-sm-4 col-md-3">
        <img src="../../../assets/images/home/laptop.svg" alt="arrow">
        <p>Wybierz miejsce, transport, nocleg, atrakcje. Wszystko w jednym miejscu!</p>
    </div>
    <div class="col-4 col-sm-4 col-md-6 d-block ">
      <img id="arrow" class="d-block mx-auto" src="../../../assets/images/home/arrow.svg" alt="arrow">
    </div>
    <div class="info col-4 col-sm-4 col-md-3">
      <img id="map" src="../../../assets/images/home/map.svg" alt="arrow">
      <p>Po zakończeniu planowania, otrzymasz pełny obraz Twojej podróży.</p>
    </div>
  </div>
</div>
