<div class="card col-12 card-transport" [formGroup]="formModel">
  <div class="card-body row">
    <h5 class="card-title col-12">Transport</h5>
    <div formArrayName="transport" class="col-12 row transport" *ngFor="let thing of formModel.controls['transport'].controls; let i = index;">
      <div [formGroupName]="i" class="col-12 row">
        <p class="break"></p>
        <div class="col-11 row">
          <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
            <label for="formTransportName">Nazwa</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'type')}"
              id="formTransportName" formControlName="type">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'type')">
              Nazwa transportu jest wymagana.
            </div>
          </div>
          <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4">
            <label for="formTransportPlaceFrom">Miejsce odjazdu</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'placeFrom')}"
              id="formTransportPlaceFrom" formControlName="placeFrom">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'placeFrom')">
              Miejsce odjazdu jest wymagane.
            </div>
          </div>
          <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4">
            <label for="formTransportPlaceTo">Miejsce przyjazdu</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'placeTo')}"
              id="formTransportPlaceTo" formControlName="placeTo">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['transport'].controls[i].hasError('required', 'placeTo')">
              Miejsce przyjazdu jest wymagane.
            </div>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
            <label for="formTransportPrice">Cena</label>
            <div class="input-group">
              <input type="number" step="0.01" min="0.00" class="form-control price" placeholder="0,00" id="formTransportPrice"
                formControlName="price">
              <div class="input-group-append">
                <span class="input-group-text">zł</span>
              </div>
            </div>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-8">
            <label for="formTransportDate">Czas odjazdu i przyjazdu</label>
            <p-calendar id="formTransportDate" inputStyleClass="form-control" [showTime]="true" selectionMode="range"
              dateFormat="dd.mm.yy" formControlName="date" showButtonBar="true" [locale]="calendarModel"
              [numberOfMonths]="2" placeholder="dd.mm.rrrr hh:mm - dd.mm.rrrr hh:mm"></p-calendar>
          </div>
        </div>
        <div class="form-group col-1">
          <button type="button" class="btn remove-button remove-transport" (click)="removeElement(i)">
            <i class="fa fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn add-element" (click)="addTransport()">Dodaj transport</button>
  </div>
</div>
