.card-title {
  font-family: mistral regular;
}

:host ::ng-deep .ui-inputtext {
  width: 170% !important;
}

.transport:not(:nth-child(2)) .break {
  border-bottom: 1px solid #d0caca;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.transport div {
  position: relative;
}

.transport .remove-transport {
  position: absolute;
  right: 3%;
  top: 45%;
}

.card {
  margin-bottom: 20px;
  border: none;
  background: rgba(39, 39, 39, 0.5);
  border-radius: 14px;
}

.card-title {
  margin-bottom: 1.75rem;
  padding-bottom: 10px;
  color: white;
  font-size: 50px;
}

.add-element,
.remove-button {
  color: white;
  background: #e6a923;
}

label {
  font-weight: bold;
  display: block;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 14px;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.price {
  border-right: none;
}

.input-group-append span {
  background: transparent;
  border-left: none;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  color: white;
}
