<div class="container">
  <div class="login-form col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4">
    <form [formGroup]="userFormModel" (ngSubmit)="onSubmit()">
      <img src="../../../assets/images/logo.svg" class="img-responsive" alt="" />
      <input type="email" name="email" placeholder="Email" class="form-control input-lg" formControlName="email"
        [ngClass]="{'is-invalid': clickedSubmitForm && (userFormModel.hasError('email', 'email') || userFormModel.hasError('required', 'email'))}" />
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('required', 'email')">
        Email jest wymagany.
      </div>
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('email', 'email')">
        Email jest niepoprawny.
      </div>
      <input type="password" class="form-control input-lg" id="password" placeholder="Hasło" formControlName="password"
        [ngClass]="{'is-invalid': clickedSubmitForm && userFormModel.hasError('required', 'password')}" />
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('required', 'password')">
        Hasło jest wymagane.
      </div>
      <button type="submit" name="go" class="btn btn-lg btn-warning btn-block">Zaloguj</button>
      <div>
        <a [routerLink]="['/registration']">Stwórz konto</a> lub <a [routerLink]="['/resetPassword']">Zresetuj hasło</a>
      </div>
    </form>
  </div>
</div>
