::ng-deep .ui-inputtext {
  background: transparent !important;
  border-radius: 14px !important;
}
.card-title {
  margin-top: 0px;
  position: absolute;
  top: -96px;
  left: 120px;
}

label {
  font-weight: bold;
}

.form-control,
.card-title,
label {
  color: black !important;
}

.form-control::placeholder {
  color: gray;
}

.modal-title {
  font-family: mistral regular;
  font-size: 50px;
}

.save-button {
  border-color: #e6a923;
  color: #e6a923;
  margin-right: 5px;
}

.save-button:focus,
.save-button:active,
.save-button:hover {
  border-color: #e6a923;
  background-color: #e6a923;
  color: white;
}

.buttons {
  float: right;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.travel-card-image {
  opacity: 0.1;
  position: absolute;
  height: 350px;
  bottom: -60px;
  right: -22px;
  z-index: 0;
}

form {
  position: relative;
}

.form-control {
  background: transparent;
  border-radius: 14px;
  color: white;
}

.price {
  border-right: none;
}

.input-group-append span {
  background: transparent;
  border-left: none;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  color: black;
}
