<div class="modal-header">
  <h4 class="modal-title">Edytuj</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <div id="travel-data" class="form-row">
      <div class="col-12">
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formTitle">Tytuł wycieczki</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'title')}"
              id="formTitle" formControlName="title" placeholder="Podaj tytuł...">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.hasError('required', 'title')">
              Tytuł wycieczki jest wymagany.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formPlace">Nazwa miejsca wycieczki</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'placeName')}"
              id="formPlaceName" placeholder="Podaj nazwę miejsca wycieczki..." formControlName="placeName">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.hasError('required', 'placeName')">
              Miejsce wycieczki jest wymagane.
            </div>
          </div>
          <div class="form-group col-7 col-sm-7 col-md-7 col-lg-5">
            <label for="formDate" class="col-12">Data</label>
            <p-calendar id="formDate" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'date')}"
              selectionMode="range" dateFormat="dd.mm.yy" showButtonBar="true" [numberOfMonths]="2" inputStyleClass="form-control "
              formControlName="date" [locale]="pl" placeholder="dd.mm.rrrr - dd.mm.rrrr">
            </p-calendar>
            <div class="invalid-text-date" *ngIf="clickedSubmitForm && formModel.hasError('required', 'date')">
              Data wycieczki jest wymagana.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formPlace">Adres wycieczki</label>
            <input type="text" class="form-control" id="formPlaceAddress" placeholder="Podaj adres wycieczki..."
              formControlName="placeAddress">
          </div>
          <div class="form-group col-12 col-sm-4 col-md-3 col-lg-3">
            <label for="formPrice">Koszt</label>
            <div class="input-group">
              <input type="number" step="0.01" min="0.00" class="form-control price" id="formPrice" placeholder="0,00"
                formControlName="price">
              <div class="input-group-append" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'price')}">
                <span class="input-group-text">zł</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-sm-9 col-md-10 col-lg-8">
            <label for="formDescription">Opis</label>
            <textarea class="form-control" id="formDescription" rows="3" formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </div>
    <img id="card-travel" class="travel-card-image" src="../../../../assets/images/travel/mountains.svg" alt="mountains.svg" />

    <div class="buttons">
      <button type="submit" class="save-button btn btn-outline-warning">Zapisz</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Anuluj</button>
    </div>
  </form>
</div>
