<div class="container page-not-found">
  <h1>404</h1>
  <h2>Oops...</h2>
  <h3>Strona nie została znaleziona...</h3>
  <p>Przejdź do
    <a id="home" [routerLink]="['/']">strony głównej</a>.</p>
</div>
