.page-not-found h1 {
  font-size: 250px;
  margin-left: 30px;
}

.page-not-found h1,
.page-not-found h3 {
  color: #e6a922;
}

.page-not-found,
.page-not-found h2,
.page-not-found a {
  color: #575655;
}

.page-not-found h2 {
  font-size: 70px;
}

.page-not-found h3 {
  font-size: 27px;
  margin-left: 10%;
  margin-top: 30px;
}

.page-not-found a {
  font-weight: bold;
}

.page-not-found p {
  margin-top: 30px;
}


@media (max-width: 700px) {
  .page-not-found h1 {
    font-size: 150px;
  }

  .page-not-found h2 {
    font-size: 40px;
  }
}
