.container {
  align-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.registration-form {
  margin: auto;
}

button.btn-warning {
  color: white;
  background: #e6a923;
  border-color: #e6a923;
}

form {
  color: #5d5d5d;
  background: rgba(255, 255, 255, 0.7);
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 65%;
}
form input,
form button {
  font-size: 18px;
  margin: 16px 0;
}
form > div {
  text-align: center;
}

.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;
}
.form-links a {
  color: #fff;
}
