<div class="container">
  <div class="registration-form col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4">
    <form [formGroup]="userFormModel" (ngSubmit)="onSubmit()">
      <img src="../../../assets/images/logo.svg" class="img-responsive" alt="" />
      <input type="text" name="firstName" placeholder="Imię *" class="form-control input-lg" formControlName="firstName"
        [ngClass]="{'is-invalid': clickedSubmitForm && userFormModel.hasError('required', 'firstName')}" />
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('required', 'firstName')">
        Imię jest wymagane.
      </div>
      <input type="text" name="lastName" placeholder="Nazwizko" class="form-control input-lg" formControlName="lastName" />
      <input type="email" name="email" placeholder="Email *" class="form-control input-lg" formControlName="email"
        [ngClass]="{'is-invalid': clickedSubmitForm && (userFormModel.hasError('required', 'email') || userFormModel.hasError('email', 'email'))}" />
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('required', 'email')">
        Email jest wymagany.
      </div>
      <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('email', 'email')">
        Email jest niepoprawny.
      </div>
      <div formGroupName="passwords">
        <input type="password" class="form-control input-lg" id="password" placeholder="Hasło *" formControlName="password"
          [ngClass]="{'is-invalid': clickedSubmitForm && userFormModel.hasError('required', 'passwords.password')}" />
        <div class="invalid-feedback" *ngIf="clickedSubmitForm && userFormModel.hasError('required', 'passwords.password')">
          Hasło jest wymagane.
        </div>
        <input type="password" class="form-control input-lg" id="confirmPassword" placeholder="Powtórz hasło *"
          formControlName="confirmPassword" [ngClass]="{'is-invalid': clickedSubmitForm && userFormModel.hasError('notEquivalent', 'passwords.confirmPassword')}" />
        <div class="invalid-feedback" *ngIf="userFormModel.hasError('notEquivalent', 'passwords.confirmPassword')">
          Hasła nie są identyczne.
        </div>
      </div>
      <button type="submit" name="go" class="btn btn-lg btn-warning btn-block">Zarejestruj</button>
      <div>
        <a [routerLink]="['/login']">Zaloguj się</a> lub <a [routerLink]="['/resetPassword']">Zresetuj hasło</a>
      </div>
    </form>
  </div>
</div>
