<div class="card col-12 card-things-to-pack container" [formGroup]="formModel">
  <div class="card-body row">
    <h5 class="card-title col-12">Rzeczy do zabrania</h5>
    <div class="labels row col-12">
      <div class=" form-group col-8">
        <label for="formThingName">Nazwa</label>
      </div>
      <div class=" form-group col-3">
        <label for="formThingCheck" class="text-left">Zabrane</label>
      </div>
    </div>
    <div formArrayName="thingsToPack" class="col-12 row" *ngFor="let thing of formModel.controls['thingsToPack'].controls; let i = index;">
      <div [formGroupName]="i" class="col-12 row">
        <div class="form-group col-8">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['thingsToPack'].controls[i].hasError('required', 'name')}"
            id="formThingName" formControlName="name">
          <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['thingsToPack'].controls[i].hasError('required', 'name')">
            Nazwa rzeczy do zabrania jest wymagana.
          </div>
        </div>
        <div class="form-group form-check col-3">
          <p-checkbox styleClass="checkThing col-3" id="formThingCheck" formControlName="taken" binary="true"></p-checkbox>
        </div>
        <div class="form-group col-1">
          <button type="button" class="btn remove-button" (click)="removeElement(i)">
            <i class="fa fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn add-element" (click)="addThing()">Dodaj rzecz</button>
  </div>
</div>
