<div class="card col-12 card-food" [formGroup]="formModel">
  <div class="card-body row">
    <h5 class="card-title col-12">Jedzenie</h5>
    <div class="labels row col-12">
      <div class="col-5">
        <label for="formFoodName">Nazwa</label>
      </div>
      <div class="col-3">
        <label for="formFoodPrice">Cena</label>
      </div>
      <div class="col-3">
        <label for="formFoodDate">Data</label>
      </div>
    </div>
    <div formArrayName="food" class="col-12 row" *ngFor="let thing of formModel.controls['food'].controls; let i = index;">
      <div [formGroupName]="i" class="col-12 row">
        <div class="form-group col-5">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.controls['food'].controls[i].hasError('required', 'name')}"
            id="formFoodName" formControlName="name">
          <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.controls['food'].controls[i].hasError('required', 'name')">
            Nazwa posiłku jest wymagana.
          </div>
        </div>
        <div class="form-group col-3">
          <div class="input-group">
            <input type="number" step="0.01" min="0.00" class="form-control price" placeholder="0,00" id="formFoodPrice"
              formControlName="price">
            <div class="input-group-append">
              <span class="input-group-text">zł</span>
            </div>
          </div>
        </div>
        <div class="form-group col-3">
          <p-calendar id="formFoodDate" inputStyleClass="form-control" dateFormat="dd.mm.yy" [locale]="calendarModel"
            showButtonBar="true" placeholder="dd.mm.rrrr" formControlName="date"></p-calendar>
        </div>
        <div class="form-group col-1">
          <button type="button" class="btn remove-button" (click)="removeElement(i)">
            <i class="fa fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn add-element" (click)="addFood()">Dodaj posiłek</button>
  </div>
</div>
