.card-title {
  font-family: mistral regular;
}

.card {
  margin-bottom: 20px;
  border: none;
  background: rgba(39, 39, 39, 0.5);
  border-radius: 14px;
}

.card-title {
  margin-bottom: 1.75rem;
  padding-bottom: 10px;
  color: white;
  font-size: 50px;
}

.add-element,
.remove-button {
  color: white;
  background: #e6a923;
}

label {
  font-weight: bold;
  display: block;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 14px;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.price {
  border-right: none;
}

.input-group-append span {
  background: transparent;
  border-left: none;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  color: white;
}
