<div class="modal-header">
  <h4 class="modal-title">Edytuj</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <app-food-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm" [calendarModel]="pl"></app-food-form>
    <img id="card-plate" class="travel-card-image" src="../../../../assets/images/travel/plate-gray.svg" alt="plate.svg" />
    <div class="buttons">
      <button type="submit" class="save-button btn btn-outline-warning">Zapisz</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Anuluj</button>
    </div>
  </form>
</div>
