/* You can add global styles to this file, and also import other style files */
$fa-font-path: './assets/fontawesome/webfonts';

@import '~bootstrap/scss/bootstrap';
@import './assets/fontawesome/scss/fontawesome.scss';
@import './assets/fontawesome/scss/solid.scss';
@import './assets/fontawesome/scss/brands.scss';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '~@material/image-list/mdc-image-list';
 */
body {
  background: url(./assets/images/mountains2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.home {
  background: url(./assets/images/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.checkThing {
  margin-top: 8px;
}

body.pageNotFound {
  background: url(./assets/images/404.svg) no-repeat bottom right fixed;
  background-size: 100%;
}
