/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '@material/image-list/dist/mdc.image-list.css';

body {
  background: url(./assets/images/mountains2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.home {
  background: url(./assets/images/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.travel {
  /*   background-color: rgba(0, 0, 0, 0.93);
  background-blend-mode: luminosity; */
}

.checkThing {
  margin-top: 8px;
}

body.pageNotFound {
  background: url(./assets/images/404.svg) no-repeat bottom right fixed;
  background-size: 100%;
}
