#travel-title,
.travel-card-title,
#total-cost-travel .sum,
#total-cost-travel .cost {
  font-family: 'Source Sans Pro', sans-serif;
}

.travel-images {
  display: inline-block;
}

.carousel .item img {
  left: -9999px; /*important */
  right: -9999px; /*important */
  margin: 0 auto; /*important */
  max-width: none; /*important */
  min-width: 100%;
  position: absolute;
}

.travel-images img {
  width: 100px;
}

#travel-data {
  text-align: right;
}

#travel-title {
  text-transform: uppercase;
}

#travel-date,
#travel-place {
  color: white;
  display: inline-block;
}

#travel-place {
  margin-left: 10px;
}

button.button-edit {
  margin-top: -25px;
  margin-left: 25px;
  background: none;
  color: white;
}

button#edit-info {
  float: right;
  margin-top: 20px;
  margin-bottom: -20px;
}

.travel-card {
  background: #212121;
  opacity: 0.8;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  min-height: 200px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.travel-card .button-edit {
  border-color: #e6a922;
  color: #e6a922;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

button#edit-info:hover,
button#edit-info:active,
button#edit-info:focus,
#total-cost-travel .button-edit:hover,
#total-cost-travel .button-edit:active,
#total-cost-travel .button-edit:focus,
.travel-card .button-edit:hover,
.travel-card .button-edit:active,
.travel-card .button-edit:focus {
  border-color: #e6a922;
  background: #e6a922;
  color: white;
}

.travel-card-title {
  color: white;
  font-size: 23px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 35px;
}

.total .sum {
  text-align: right;
}

.total {
  position: absolute;
  width: 97%;
  bottom: 10px;
}

.total div.sum,
.total div.price {
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
}

#total-cost-travel .sum,
#total-cost-travel .cost {
  color: white;
}
#total-cost-travel .sum {
  text-align: right;
  font-size: 35px;
}

#total-cost-travel .cost {
  font-size: 35px;
  font-weight: bold;
}

#total-cost-travel {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#total-cost-travel button {
  margin-top: 5px;
  color: #ffc107;
}

.total div.price {
  padding-left: 18px;
}

.travel-card-image {
  opacity: 0.1;
  position: absolute;
  height: 200px;
  bottom: -20px;
  right: 50px;
  z-index: -1;
}

#travel-thingstopack .travel-card .row {
  padding-left: 15px;
}

#travel-thingstopack .button-edit {
  left: -25px;
}

#card-bed {
  bottom: -60px;
  right: 30px;
  height: 210px;
}

#card-car {
  height: 155px;
}

#card-bag {
  bottom: -42px;
  right: 12px;
}

#card-plate {
  bottom: -5px;
  right: 60px;
  height: 120px;
}

#card-circle {
  height: 245px;
  bottom: -55px;
  right: 15px;
}
