<div class="container travel" *ngIf="travel">
  <div class="row">
    <div class="col-md-6">
      <ngb-carousel *ngIf="travel.images.length > 0">
        <ng-template ngbSlide *ngFor="let image of travel.images | slice:0:5">
          <img [src]="image.path" alt="{{image.name}}" class="d-block mx-auto" style="max-height:300px;">
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-6">
      <div id="travel-data">
        <h1 id="travel-title">{{travel.title}}</h1>
        <p id="travel-date">{{travel.dateFrom | date: 'dd.MM.yyyy' }} <span *ngIf="!isUndefined(travel.dateTo)">-
            {{travel.dateTo |
            date: 'dd.MM.yyyy'}}</span></p>
        <p id="travel-place">{{travel.place.name}}</p>
        <p id="travel-description">{{travel.description}}</p>
        <p id="travel-price">{{travel.price | number: '1.2-2'}} zł</p>
      </div>
      <div>
        <button type="button" id="edit-info" class="btn btn-outline-warning button-edit" (click)="editDescription(travel)">Edytuj</button>
      </div>
    </div>
  </div>
  <div id="travel-accommodation">
    <h3 class="travel-card-title">Noclegi</h3>
    <div class="travel-card">
      <div class="row" *ngFor="let accommodation of travel.accommodations">
        <div class="col-3">{{accommodation.place.name}}</div>
        <div class="col-3">{{accommodation.place.address}}</div>
        <div class="col-4">{{accommodation.dateFrom | date: 'dd.MM.yyyy'}} - {{accommodation.dateTo | date:
          'dd.MM.yyyy'}}</div>
        <div class="col-2">{{accommodation.price | number: '1.2-2'}} zł</div>
      </div>
      <div class="row total">
        <div class="col-2">
          <button type="button" class="btn btn-outline-warning button-edit" (click)="editAccommodations(travel)">Edytuj</button>
        </div>
        <div class="offset-6 col-2 sum">Suma:</div>
        <div class="col-2 price"> {{totalSum(travel.accommodations, true) | number: '1.2-2'}} zł</div>
      </div>
      <img id="card-bed" class="travel-card-image" src="../../../../assets/images/travel/bed.svg" alt="bed.svg">
    </div>
  </div>
  <div id="travel-transport">
    <h3 class="travel-card-title">Transport</h3>
    <div class="travel-card">
      <div class="row" *ngFor="let transport of travel.transport">
        <div class="col-2">{{transport.type}}</div>
        <div class="col-4">Od: {{transport.placeFrom.name}} ({{transport.dateFrom | date: 'dd.MM.yyyy hh:mm'}})</div>
        <div class="col-4">Do: {{transport.placeTo.name}} ({{transport.dateTo | date: 'dd.MM.yyyy hh:mm'}})</div>
        <div class="col-2">{{transport.price | number: '1.2-2'}} zł</div>
      </div>
      <div class="row total">
        <div class="col-2">
          <button type="button" class="btn btn-outline-warning button-edit" (click)="editTransport(travel)">Edytuj</button>
        </div>
        <div class="offset-6 col-2 sum">Suma:</div>
        <div class="col-2 price"> {{totalSum(travel.transport) | number: '1.2-2'}} zł</div>
      </div>
      <img id="card-car" class="travel-card-image" src="../../../../assets/images/travel/car.svg" alt="car.svg">
    </div>
  </div>
  <div id="travel-thingstopack">
    <h3 class="travel-card-title">Rzeczy do zabrania</h3>
    <div class="travel-card">
      <div class="row">
        <div class="col-4" *ngFor="let thing of travel.thingsToPack">
          <div>
            <input class="form-check-input" type="checkbox" [(ngModel)]="thing.taken" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{thing.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="row total">
        <div class="col-2">
          <button type="button" class="btn btn-outline-warning button-edit" (click)="editThingsToPack(travel)">Edytuj</button>
        </div>
      </div>
      <img id="card-bag" class="travel-card-image" src="../../../../assets/images/travel/bag.svg" alt="bag.svg">
    </div>
  </div>
  <div id="travel-food">
    <h3 class="travel-card-title">Jedzenie</h3>
    <div class="travel-card">
      <div class="row" *ngFor="let food of travel.food">
        <div class="col-5">{{food.name}}</div>
        <div class="col-5">{{food.date | date: 'dd.MM.yyyy'}}</div>
        <div class="col-2">{{food.price | number: '1.2-2'}} zł</div>
      </div>
      <div class="row total">
        <div class="col-2">
          <button type="button" class="btn btn-outline-warning button-edit" (click)="editFood(travel)">Edytuj</button>
        </div>
        <div class="offset-6 col-2 sum">Suma:</div>
        <div class="col-2 price"> {{totalSum(travel.food) | number: '1.2-2'}} zł</div>
      </div>
      <img id="card-plate" class="travel-card-image" src="../../../../assets/images/travel/plate.svg" alt="plate.svg">
    </div>
  </div>
  <div id="travel-attraction">
    <h3 class="travel-card-title">Atrakcje</h3>
    <div class="travel-card">
      <div class="row" *ngFor="let attraction of travel.attractions">
        <div class="col-3">{{attraction.name}}</div>
        <div class="col-4">{{attraction.place.name}}</div>
        <div class="col-3">{{attraction.date | date: 'dd.MM.yyyy'}}</div>
        <div class="col-2">{{attraction.price | number: '1.2-2'}} zł</div>
      </div>
      <div class="row total">
        <div class="col-2">
          <button type="button" class="btn btn-outline-warning button-edit" (click)="editAttractions(travel)">Edytuj</button>
        </div>
        <div class="offset-6 col-2 sum">Suma:</div>
        <div class="col-2 price"> {{totalSum(travel.attractions) | number: '1.2-2'}} zł</div>
      </div>
      <img id="card-circle" class="travel-card-image" src="../../../../assets/images/travel/circle.svg" alt="circle.svg">
    </div>
  </div>

  <div class="row" id="total-cost-travel">
    <div class="col-2">
      <button type="button" class="btn btn-outline-warning button-edit" [routerLink]="['/travel-edit', travelID]">Edytuj
        wycieczkę
      </button>
    </div>
    <div class="offset-6 col-2 sum">Suma:</div>
    <div class="col-2 cost"> {{totalSumOfTravel() | number: '1.2-2'}} zł</div>
  </div>
</div>
