<div class="container travel">
  <a [routerLink]="['/gallery']" class="return-to-gallery col-12"><i class="fas fa-arrow-left"></i>Powrót do galerii</a>
  <h1 id="title" *ngIf="travel">{{travel.title}}</h1>
  <div class="row">
    <div class="offset-lg-8 col-lg-4 offset-4 col-8" id="add-image">
      <form [formGroup]="imageForm" (ngSubmit)="uploadImage()">
        <div class="input-group form-group">
          <div class="custom-file ">
            <label class="custom-file-label" for="inputImage" [ngClass]="{'is-invalid': clickedSubmitForm && imageForm.hasError('required', 'image')}">{{(selectedImage)
              ? selectedImage.name : "Wybierz
              zdjęcie"}}</label>
            <input type="file" class="custom-file-input" id="inputImage" formControlName="image" (change)="onFileSelected($event)"
              accept="image/*" aria-describedby="inputGroupFile">
          </div>
          <div class="input-group-append">
            <button class="btn btn-warning" id="add-image-button" type="submit">Dodaj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" class="images" *ngIf="travel">
    <div class="travel-images col-lg-4 col-xl-3 col-6" *ngFor="let image of travel.images">
      <img src="{{image.path}}" alt="{{image.name}}">
      <button type="button" class="btn btn-outline-warning" (click)="removeImage(image.name)"><i class="fa fa-trash-alt"></i></button>
    </div>
  </div>
</div>
