#title {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -5px;
  font-size: 105px;
  font-family: mistral regular;
}

.travel-images {
  display: inline-block;
}

.travel-images img {
  width: 250px;
  height: auto;
}

.images {
  margin-top: 20px;
  padding: 10px;
  background: rgba(33, 33, 33, 0.45);
  border-radius: 10px;
}

.return-to-gallery {
  color: white;
  font-size: 20px;
}

.return-to-gallery i {
  margin-right: 8px;
}

#add-image-button {
  color: white;
}

label.is-invalid {
  color: red;
  border: 1px solid red;
  border-right: 2px solid;
}

label::after {
  display: none;
}

label {
  cursor: pointer;
}
