<div class="container travel-edit" #editTravel>
  <img id="map" class="img-fluid" src="../../../../assets/images/map.jpg" alt="">
  <h1 id="page-title" class="title">1) {{pageTitle}}</h1>
  <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <div id="travel-data" class="form-row">

      <div class="col-10">
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formTitle">Tytuł wycieczki</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'travelTitle')}"
              id="formTitle" formControlName="travelTitle" placeholder="Podaj tytuł...">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.hasError('required', 'travelTitle')">
              Tytuł wycieczki jest wymagany.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formPlace">Nazwa miejsca wycieczki</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'travelPlaceName')}"
              id="formPlaceName" placeholder="Podaj nazwę miejsca wycieczki..." formControlName="travelPlaceName">
            <div class="invalid-feedback" *ngIf="clickedSubmitForm && formModel.hasError('required', 'travelPlaceName')">
              Miejsce wycieczki jest wymagane.
            </div>
          </div>
          <div class="form-group col-5 col-sm-4 col-md-3 col-lg-3">
            <label for="formDate">Data</label>
            <p-calendar id="formTravelDate" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'travelDate')}"
              selectionMode="range" dateFormat="dd.mm.yy" showButtonBar="true" [numberOfMonths]="2" inputStyleClass="form-control "
              formControlName="travelDate" [locale]="pl" placeholder="dd.mm.rrrr - dd.mm.rrrr">
            </p-calendar>
            <div class="invalid-text-date" *ngIf="clickedSubmitForm && formModel.hasError('required', 'travelDate')">
              Data wycieczki jest wymagana.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-7 col-lg-5">
            <label for="formPlace">Adres wycieczki</label>
            <input type="text" class="form-control" id="formPlaceAddress" placeholder="Podaj adres wycieczki..."
              formControlName="travelPlaceAddress">
          </div>
          <div class="form-group col-12 col-sm-4 col-md-3 col-lg-3">
            <label for="formPrice">Koszt</label>
            <div class="input-group">
              <input type="number" step="0.01" min="0.00" class="form-control price" id="formPrice" placeholder="0,00"
                formControlName="travelPrice">
              <div class="input-group-append" [ngClass]="{'is-invalid': clickedSubmitForm && formModel.hasError('required', 'travelPrice')}">
                <span class="input-group-text">zł</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-sm-9 col-md-10 col-lg-8">
            <label for="formDescription">Opis</label>
            <textarea class="form-control" id="formDescription" rows="3" formControlName="travelDescription"></textarea>
          </div>
        </div>
      </div>
      <div id="arrow-up" class="col-2">
        <img src="../../../../assets/images/travel-edit/arrow-up.svg" alt="">
      </div>
    </div>

    <div class="form-row" id="travel-details">
      <div id="accomodation-title">
        <h1 class="title">2) Wybierz nocleg</h1>
        <img src="../../../../assets/images/travel-edit/arrow-down.svg" alt="arrow-down.svg">
      </div>

      <!-- accommodation -->
      <app-accommodation-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm" [calendarModel]="pl"></app-accommodation-form>

      <!-- things to pack -->
      <app-thing-to-pack-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm"></app-thing-to-pack-form>

      <!-- transport -->
      <app-transport-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm" [calendarModel]="pl"></app-transport-form>

      <!-- attractions -->
      <app-attraction-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm" [calendarModel]="pl"
        [isModalWindow]="false"></app-attraction-form>

      <!-- food -->
      <app-food-form [formModel]="formModel" [clickedSubmitForm]="clickedSubmitForm" [calendarModel]="pl"></app-food-form>

    </div>
    <p id="summaryOfExpenses">Suma wydatków: <span>{{summaryOfExpenses() | number: '1.2'}} zł</span></p>
    <button type="submit" class="btn btn-light submitButton">{{buttonTitle}}</button>
  </form>
</div>
