.title {
  font-family: mistral regular;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  margin: -15% 0;
  height: 95%;
  box-shadow: 0px 0px 90px 130px #74746c;
  width: 100%;
}

#summaryOfExpenses {
  color: white;
  font-size: 23px;
}

.submitButton {
  float: right;
  background: #e6a923;
  border-color: #e6a923;
  color: white;
  margin-bottom: 20px;
}

.submitButton:hover,
.submitButton:focus,
.submitButton:active {
  background: white !important;
  border-color: #e6a923 !important;
  color: #e6a923 !important;
}

::ng-deep .ui-datepicker a.ui-state-active,
::ng-deep .ui-datepicker-buttonbar button {
  background-color: #e6a923 !important;
  border-color: #e6a923 !important;
}

::ng-deep .ui-datepicker-buttonbar button:hover {
  background-color: #e6a923 !important;
  opacity: 0.5;
  border-color: #e6a923 !important;
}

/* CARD */
:host ::ng-deep app-accommodation-form,
:host ::ng-deep app-transport-form,
:host ::ng-deep app-attraction-form,
:host ::ng-deep app-food-form,
:host ::ng-deep app-thing-to-pack-form {
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 14px;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.price {
  border-right: none;
}

.input-group-append span {
  background: transparent;
  border-left: none;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  color: white;
}

.custom-select.is-invalid,
.form-control.is-invalid,
td.is-invalid,
.input-group-append.is-invalid span,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
:host ::ng-deep .custom-select.is-invalid,
:host ::ng-deep .form-control.is-invalid,
:host ::ng-deep td.is-invalid,
:host ::ng-deep .input-group-append.is-invalid span,
:host ::ng-deep .was-validated .custom-select:invalid,
:host ::ng-deep .was-validated .form-control:invalid,
:host ::ng-deep .is-invalid .ui-inputtext {
  border-color: #ff0018;
}

:host ::ng-deep .invalid-feedback,
.invalid-feedback,
:host ::ng-deep .invalid-text-date,
.invalid-text-date {
  color: #ff0018;
}

:host ::ng-deep .invalid-text-date,
.invalid-text-date {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
}

:host ::ng-deep .ui-inputtext {
  height: 40px !important;
  padding-left: 7px !important;
  width: 122% !important;
  background: transparent !important;
  color: white;
  border-radius: 14px !important;
  color: white;
}

:host ::ng-deep #travel-data .ui-inputtext {
  background: transparent !important;
  color: white;
  border-radius: 14px !important;
}

:host ::ng-deep .ui-inputtext::placeholder,
:host ::ng-deep #travel-data .ui-inputtext::placeholder {
  color: white;
}

#page-title {
  text-align: center;
  margin-top: 20px;
}

.title {
  color: white;
  font-size: 70px;
}

#travel-data #arrow-up img {
  vertical-align: middle;
  height: 63%;
  margin-top: 50px;
  position: relative;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin-left: -225%;
  z-index: -1;
}

/* Accomodations */

#accomodation-title {
  width: 100%;
}

#accomodation-title .title {
  text-align: right;
  margin-top: -80px;
  margin-right: 100px;
}

#accomodation-title img {
  width: 250px;
  float: right;
  margin-right: 24%;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  margin-top: -25px;
  z-index: -1;
}

/*end accomodation */

/* Responsive design */

@media (min-width: 1200px) {
  #page-title,
  #accomodation-title .title {
    font-size: 54px;
  }
}

@media (max-width: 1630px) {
  #map {
    height: 65%;
    margin: -12% 0;
  }
}

@media (max-width: 1430px) {
  #map {
    margin: -6% 0;
  }
}

@media (max-width: 1200px) {
  #page-title,
  #accomodation-title .title {
    font-size: 54px;
  }
  #map {
    margin: 0% 0;
    height: 45%;
  }
}

@media (max-width: 991px) {
  #page-title,
  #accomodation-title .title {
    font-size: 54px;
  }
  #accomodation-title .title {
    margin-top: 20px;
  }
  #travel-data #arrow-up img {
    height: 75%;
    transform: rotate(27deg);
    margin-left: -275%;
  }
  #map {
    margin: 20% 0;
    box-shadow: 0px 0px 90px 155px #74746c;
    height: 35%;
  }
  :host ::ng-deep #travel-data .ui-inputtext {
    width: 145% !important;
  }
}

@media (max-width: 767px) {
  #page-title,
  #accomodation-title .title {
    font-size: 50px;
  }
  #accomodation-title .title {
    margin-right: 0px;
  }
  #accomodation-title img {
    margin-right: 10%;
    margin-top: -30px;
    width: 245px;
  }
  #travel-data #arrow-up img {
    height: 75%;
    transform: rotate(27deg);
    margin-left: -340%;
  }
  #map {
    margin: 25% 0;
    box-shadow: 0px 0px 90px 255px #74746c;
  }
}

@media (max-width: 700px) {
  #travel-data #arrow-up img {
    margin-left: -348%;
  }
  #accomodation-title img {
    margin-right: 20%;
  }
}

@media (max-width: 575px) {
  :host ::ng-deep #formPrice,
  #formPrice {
    width: 100%;
  }
  #page-title,
  #accomodation-title .title {
    font-size: 40px;
  }
  #accomodation-title .title {
    margin-right: 0px;
    float: right;
    margin-top: -5px;
    margin-bottom: 30px;
  }
  #travel-data #arrow-up img {
    display: none;
  }
  #travel-data {
    background: url('../../../../assets/images/travel-edit/arrow-up-small.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
  #accomodation-title img {
    transform: rotate(20deg) scaleX(-1);
    float: right;
    height: 120%;
    margin-top: -75px;
    margin-bottom: -150px;
    content: url('../../../../assets/images/travel-edit/arrow-down-small.svg');
  }
  #map {
    margin: 32% 0;
    box-shadow: 0px 0px 90px 350px #74746c;
  }

  :host ::ng-deep #travel-data .ui-inputtext {
    width: 250% !important;
  }
}

@media (max-width: 500px) {
  :host ::ng-deep .card-transport .ui-inputtext {
    width: 155% !important;
  }
}

@media (max-width: 440px) {
  #map {
    margin: 20% 0;
    height: 50%;
    box-shadow: 0px 0px 40px 85px #74746c;
  }
}

@media (max-width: 320px) {
  #map {
    margin: 100% 0;
    box-shadow: 0px 0px 90px 350px #74746c;
  }
}
