<div id="container-alert" class="offset-4 col-8 offset-sm-4 col-3 offset-md-6 col-md-6 offset-lg-7 col-lg-5 offset-xl-8 col-xl-4">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="getClassAlert(alert)" (close)="closeAlert(alert)">
      <span>
        <i class="fas {{getClass(alert)}}">
        </i>
      </span>
      {{ alert.message }}</ngb-alert>
  </p>
</div>
